In [1]:
import pandas as pd

df_train = pd.read_csv("train.csv")

C:\Users\Oluwayemisi\AppData\Local\Temp\ipykernel_10764\2116478614.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
C:\Users\Oluwayemisi\AppData\Local\Temp\ipykernel_10764\2116478614.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv("train.csv")

In [2]:
df_train

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [3]:
df_test = pd.read_csv("test.csv")

In [4]:
df_test

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0x25fe5,CUS_0x8600,December,Sarah McBridec,4975,031-35-0942,Architect,20002.88,1929.906667,10,...,12.0,_,3571.7,34.780553,NaN,Yes,60.964772,146.48632477751087,Low_spent_Small_value_payments,275.53956951573343
49996,0x25fee,CUS_0x942c,September,Nicks,25,078-73-5990,Mechanic,39628.99,NaN,4,...,7.0,Good,502.38,27.758522,31 Years and 11 Months,NM,35.104023,181.44299902757518,Low_spent_Small_value_payments,409.39456169535066
49997,0x25fef,CUS_0x942c,October,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,Good,502.38,36.858542,32 Years and 0 Months,No,35.104023,__10000__,Low_spent_Large_value_payments,349.7263321025098
49998,0x25ff0,CUS_0x942c,November,Nicks,25,078-73-5990,Mechanic,39628.99,NaN,4,...,7.0,Good,502.38,39.139840,32 Years and 1 Months,No,35.104023,97.59857973344877,High_spent_Small_value_payments,463.23898098947717
49999,0x25ff1,CUS_0x942c,December,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,_,502.38,34.108530,32 Years and 2 Months,No,35.104023,220.45787812168732,Low_spent_Medium_value_payments,360.37968260123847

Cleaning the Training Dataset

In [5]:
df_test.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance'],
      dtype='object')

In [6]:
df_train.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [7]:
df_train.isna().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [8]:
df_train.Num_of_Delayed_Payment

0          7
1        NaN
2          7
3          4
4        NaN
        ...
99995      7
99996      7
99997      6
99998    NaN
99999      6
Name: Num_of_Delayed_Payment, Length: 100000, dtype: object

In [9]:
df_train.Num_of_Delayed_Payment = df_train.Num_of_Delayed_Payment.astype(str)
df_train.Num_of_Delayed_Payment = df_train.Num_of_Delayed_Payment.str.replace('_', '')

In [10]:
df_train.Num_of_Delayed_Payment.fillna('nan', inplace=True)
median = df_train.Num_of_Delayed_Payment[df_train.Num_of_Delayed_Payment != 'nan'].astype(float).median()
df_train.Num_of_Delayed_Payment = df_train.Num_of_Delayed_Payment.replace('nan', str(median))
df_train.Num_of_Delayed_Payment = df_train.Num_of_Delayed_Payment.astype(float)
df_train.Num_of_Delayed_Payment.describe()

C:\Users\Oluwayemisi\AppData\Local\Temp\ipykernel_10764\356624039.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train.Num_of_Delayed_Payment.fillna('nan', inplace=True)

count    100000.000000
mean         29.738370
std         218.017612
min          -3.000000
25%           9.000000
50%          14.000000
75%          18.000000
max        4397.000000
Name: Num_of_Delayed_Payment, dtype: float64

In [11]:
mode = df_train.Name.mode().iloc[0]
df_train.Name = df_train.Name.fillna(mode)
df_train.Name.describe()

count     100000
unique     10139
top       Langep
freq       10029
Name: Name, dtype: object

In [12]:
df_train.Monthly_Inhand_Salary.describe()

count    84998.000000
mean      4194.170850
std       3183.686167
min        303.645417
25%       1625.568229
50%       3093.745000
75%       5957.448333
max      15204.633333
Name: Monthly_Inhand_Salary, dtype: float64

In [13]:
mean = df_train.Monthly_Inhand_Salary.mean()
df_train.Monthly_Inhand_Salary=df_train.Monthly_Inhand_Salary.fillna(mean)
df_train.Monthly_Inhand_Salary.describe()

count    100000.000000
mean       4194.170850
std        2935.176493
min         303.645417
25%        1792.084167
50%        3852.736667
75%        5371.525000
max       15204.633333
Name: Monthly_Inhand_Salary, dtype: float64

In [14]:
df_train.Type_of_Loan.describe()

count             88592
unique             6260
top       Not Specified
freq               1408
Name: Type_of_Loan, dtype: object

In [15]:
mode = df_train.Type_of_Loan.mode()[0]
df_train.Type_of_Loan = df_train.Type_of_Loan.fillna(mode)
df_train.Type_of_Loan.describe()

count            100000
unique             6260
top       Not Specified
freq              12816
Name: Type_of_Loan, dtype: object

In [16]:
df_train.Num_Credit_Inquiries.describe()

count    98035.000000
mean        27.754251
std        193.177339
min          0.000000
25%          3.000000
50%          6.000000
75%          9.000000
max       2597.000000
Name: Num_Credit_Inquiries, dtype: float64

In [17]:
mean_value = df_train.Num_Credit_Inquiries.mean()
df_train.Num_Credit_Inquiries = df_train.Num_Credit_Inquiries.fillna(mean_value)
df_train.Num_Credit_Inquiries.describe()

count    100000.000000
mean         27.754251
std         191.269936
min           0.000000
25%           3.000000
50%           6.000000
75%           9.000000
max        2597.000000
Name: Num_Credit_Inquiries, dtype: float64

In [18]:
df_train.Credit_History_Age.describe()

count                      90970
unique                       404
top       15 Years and 11 Months
freq                         446
Name: Credit_History_Age, dtype: object

In [19]:
mode = df_train.Credit_History_Age.mode()[0]
df_train.Credit_History_Age = df_train.Credit_History_Age.fillna(mode)
df_train.Credit_History_Age.describe()

count                     100000
unique                       404
top       15 Years and 11 Months
freq                        9476
Name: Credit_History_Age, dtype: object

In [20]:
df_train.Amount_invested_monthly.describe()

count         95521
unique        91049
top       __10000__
freq           4305
Name: Amount_invested_monthly, dtype: object

In [21]:
df_train.Amount_invested_monthly = df_train.Amount_invested_monthly.astype(str)
df_train.Amount_invested_monthly = df_train.Amount_invested_monthly.str.replace('_', '')
df_train.Amount_invested_monthly = df_train.Amount_invested_monthly.fillna('nan')
df_train.Amount_invested_monthly.describe()

count     100000
unique     91050
top          nan
freq        4479
Name: Amount_invested_monthly, dtype: object

In [22]:
mean = df_train.Amount_invested_monthly[df_train.Amount_invested_monthly != 'nan'].astype(float).mean()
df_train.Amount_invested_monthly = df_train.Amount_invested_monthly.replace('nan', str(mean))
df_train.Amount_invested_monthly = df_train.Amount_invested_monthly.astype(float)
df_train.Amount_invested_monthly.describe()

count    100000.000000
mean        637.412998
std        1997.034517
min           0.000000
25%          77.017414
50%         143.127915
75%         304.765600
max       10000.000000
Name: Amount_invested_monthly, dtype: float64

In [23]:
df_train.Monthly_Balance.describe()

count                                98800
unique                               98792
top       __-333333333333333333333333333__
freq                                     9
Name: Monthly_Balance, dtype: object

In [24]:
df_train.Monthly_Balance = df_train.Monthly_Balance.astype(str)
df_train.Monthly_Balance = df_train.Monthly_Balance.str.replace('__-333333333333333333333333333__', 'nan')
df_train.Monthly_Balance = df_train.Monthly_Balance.fillna('nan')
df_train.Monthly_Balance.describe()

count     100000
unique     98792
top          nan
freq        1209
Name: Monthly_Balance, dtype: object

In [25]:
median = df_train.Monthly_Balance[df_train.Monthly_Balance != 'nan'].astype(float).median()
df_train.Monthly_Balance = df_train.Monthly_Balance.replace('nan', str(median))
df_train.Monthly_Balance = df_train.Monthly_Balance.astype(float)
df_train.Monthly_Balance.describe()

count    100000.000000
mean        401.755494
std         212.750017
min           0.007760
25%         270.913865
50%         336.731225
75%         467.670597
max        1602.040519
Name: Monthly_Balance, dtype: float64

In [26]:
df_train.isna().sum()

ID                          0
Customer_ID                 0
Month                       0
Name                        0
Age                         0
SSN                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Credit_Score                0
dtype: int64

In [27]:
df_train.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
count,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,29.738370,27.754251,32.285173,1403.118217,637.412998,401.755494
std,2935.176493,117.404834,129.05741,466.422621,14.860104,218.017612,191.269936,5.116875,8306.041270,1997.034517,212.750017
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,-3.000000,0.000000,20.000000,0.000000,0.000000,0.007760
25%,1792.084167,3.000000,4.00000,8.000000,10.000000,9.000000,3.000000,28.052567,30.306660,77.017414,270.913865
50%,3852.736667,6.000000,5.00000,13.000000,18.000000,14.000000,6.000000,32.305784,69.249473,143.127915,336.731225
75%,5371.525000,7.000000,7.00000,20.000000,28.000000,18.000000,9.000000,36.496663,161.224249,304.765600,467.670597
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,4397.000000,2597.000000,50.000000,82331.000000,10000.000000,1602.040519

In [28]:
df_train.Age.describe()

count     100000
unique      1788
top           38
freq        2833
Name: Age, dtype: object

In [29]:
df_train.Age = df_train.Age.str.replace(r'\D', '', regex=True)
df_train.Age = df_train.Age.astype("int")
df_train.Age.describe()

count    100000.000000
mean        119.509700
std         684.757313
min          14.000000
25%          25.000000
50%          34.000000
75%          42.000000
max        8698.000000
Name: Age, dtype: float64

In [30]:
df_train.Age = df_train.Age.where(df_train.Age <= 80, 0)
median = df_train.Age.median()
df_train.Age = df_train.Age.replace(0, median)
df_train.Age.describe()

count    100000.000000
mean         33.283300
std          10.620967
min          14.000000
25%          25.000000
50%          32.000000
75%          41.000000
max          56.000000
Name: Age, dtype: float64

In [31]:
df_train.Occupation.head(40)

0        Scientist
1        Scientist
2        Scientist
3        Scientist
4        Scientist
5        Scientist
6        Scientist
7        Scientist
8          _______
9          Teacher
10         Teacher
11         Teacher
12         Teacher
13         Teacher
14         Teacher
15         Teacher
16         _______
17        Engineer
18         _______
19        Engineer
20         _______
21        Engineer
22        Engineer
23        Engineer
24    Entrepreneur
25    Entrepreneur
26    Entrepreneur
27    Entrepreneur
28    Entrepreneur
29         _______
30    Entrepreneur
31    Entrepreneur
32       Developer
33       Developer
34       Developer
35       Developer
36       Developer
37       Developer
38       Developer
39       Developer
Name: Occupation, dtype: object

In [32]:
df_train.Occupation = df_train.Occupation.astype(str)
df_train.Occupation = df_train.Occupation.str.replace('_______', 'Unknown')
df_train.Occupation.describe()

count      100000
unique         16
top       Unknown
freq         7062
Name: Occupation, dtype: object

In [33]:
df_train.Annual_Income.head(40)

0      19114.12
1      19114.12
2      19114.12
3      19114.12
4      19114.12
5      19114.12
6      19114.12
7      19114.12
8      34847.84
9      34847.84
10    34847.84_
11     34847.84
12     34847.84
13     34847.84
14     34847.84
15     34847.84
16    143162.64
17    143162.64
18    143162.64
19    143162.64
20    143162.64
21    143162.64
22    143162.64
23    143162.64
24     30689.89
25     30689.89
26     30689.89
27    30689.89_
28     30689.89
29     30689.89
30     30689.89
31     30689.89
32    35547.71_
33     35547.71
34     35547.71
35     35547.71
36     35547.71
37     35547.71
38     35547.71
39     35547.71
Name: Annual_Income, dtype: object

In [34]:
df_train.Annual_Income = df_train.Annual_Income.str.replace(r'\D', '', regex=True)
df_train.Annual_Income = df_train.Annual_Income.astype("float")
df_train.Annual_Income.describe()

count    1.000000e+05
mean     1.601957e+14
std      1.151113e+15
min      7.046500e+04
25%      1.826411e+06
50%      3.836154e+06
75%      8.312624e+06
max      1.349284e+16
Name: Annual_Income, dtype: float64

In [35]:
df_train.Num_of_Loan.head(40)

0        4
1        4
2        4
3        4
4        4
5        4
6        4
7        4
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       3
17       3
18       3
19       3
20       3
21     967
22       3
23       3
24       1
25       1
26       1
27       1
28       1
29       1
30       1
31    -100
32       0
33       0
34    -100
35       0
36       0
37      0_
38       0
39    -100
Name: Num_of_Loan, dtype: object

In [36]:
df_train.Num_of_Loan = df_train.Num_of_Loan.str.replace(r'\D', '', regex=True)
df_train.Num_of_Loan = df_train.Num_of_Loan.astype("int")

In [37]:
df_train.Num_of_Loan = df_train.Age.where(df_train.Age <= 40, 0)
median = df_train.Num_of_Loan.median()
df_train.Num_of_Loan = df_train.Num_of_Loan.replace(0, median)
df_train.Num_of_Loan.describe()

count    100000.000000
mean         27.007440
std           6.414678
min          14.000000
25%          24.000000
50%          24.000000
75%          32.000000
max          40.000000
Name: Num_of_Loan, dtype: float64

In [38]:
df_train.Changed_Credit_Limit.head(40)

0     11.27
1     11.27
2         _
3      6.27
4     11.27
5      9.27
6     11.27
7     11.27
8      5.42
9      7.42
10     5.42
11     5.42
12     6.42
13     5.42
14     5.42
15     5.42
16      7.1
17      7.1
18     11.1
19      9.1
20      7.1
21      7.1
22      7.1
23      7.1
24     1.99
25     1.99
26     1.99
27    -2.01
28    -1.01
29    -3.01
30     1.99
31     1.99
32     2.58
33     2.58
34     2.58
35     2.58
36     2.58
37     2.58
38     2.58
39     2.58
Name: Changed_Credit_Limit, dtype: object

In [39]:
df_train.Changed_Credit_Limit.describe()

count     100000
unique      4384
top            _
freq        2091
Name: Changed_Credit_Limit, dtype: object

In [40]:
df_train.Changed_Credit_Limit = df_train.Changed_Credit_Limit.astype(str)
df_train.Changed_Credit_Limit = df_train.Changed_Credit_Limit.str.replace('_', 'nan')
df_train.Changed_Credit_Limit = df_train.Changed_Credit_Limit.fillna('nan')
median = df_train.Changed_Credit_Limit[df_train.Changed_Credit_Limit != 'nan'].astype(float).median()
df_train.Changed_Credit_Limit = df_train.Changed_Credit_Limit.replace('nan', str(median))
df_train.Changed_Credit_Limit = df_train.Changed_Credit_Limit.astype(float)
df_train.Changed_Credit_Limit.describe()

count    100000.000000
mean         10.368345
std           6.719627
min          -6.490000
25%           5.420000
50%           9.400000
75%          14.660000
max          36.970000
Name: Changed_Credit_Limit, dtype: float64

In [41]:
mode = df_train.Credit_Mix.mode()[0]
df_train.Credit_Mix = df_train.Credit_Mix.replace("_", mode)

In [42]:
df_train.Credit_Mix.describe()

count       100000
unique           3
top       Standard
freq         56674
Name: Credit_Mix, dtype: object

In [43]:
df_train.Outstanding_Debt = df_train.Outstanding_Debt.str.replace(r'\D', '', regex=True)
df_train.Outstanding_Debt = df_train.Outstanding_Debt.astype(float)
df_train.Outstanding_Debt.describe()

count    100000.000000
mean     129224.119920
std      115699.184705
min          12.000000
25%       40132.500000
50%      103089.000000
75%      174641.750000
max      499807.000000
Name: Outstanding_Debt, dtype: float64

In [44]:
df_train.Credit_History_Age.describe()

count                     100000
unique                       404
top       15 Years and 11 Months
freq                        9476
Name: Credit_History_Age, dtype: object

In [45]:
df_train.Payment_of_Min_Amount.unique()

array(['No', 'NM', 'Yes'], dtype=object)

In [46]:
df_train.Payment_Behaviour.describe()

count                             100000
unique                                 7
top       Low_spent_Small_value_payments
freq                               25513
Name: Payment_Behaviour, dtype: object

In [47]:
df_train.Payment_Behaviour.value_counts().get('!@9#%8', 0)

7600

In [48]:
df_train.Payment_Behaviour = df_train.Payment_Behaviour.replace('!@9#%8', "Unknown")

In [49]:
df_train.Payment_Behaviour.unique()

array(['High_spent_Small_value_payments',
       'Low_spent_Large_value_payments',
       'Low_spent_Medium_value_payments',
       'Low_spent_Small_value_payments',
       'High_spent_Medium_value_payments', 'Unknown',
       'High_spent_Large_value_payments'], dtype=object)

In [50]:
df_train.Credit_Score.describe()

count       100000
unique           3
top       Standard
freq         53174
Name: Credit_Score, dtype: object

In [51]:
df_train.Credit_Score.unique()

array(['Good', 'Standard', 'Poor'], dtype=object)

In [52]:
df_train.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,1911412.0,1824.843333,3,...,Standard,80998.0,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,1911412.0,4194.170850,3,...,Good,80998.0,31.944960,15 Years and 11 Months,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,32,821-00-0265,Scientist,1911412.0,4194.170850,3,...,Good,80998.0,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,1911412.0,4194.170850,3,...,Good,80998.0,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,1911412.0,1824.843333,3,...,Good,80998.0,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,1911412.0,4194.170850,3,...,Good,80998.0,27.262259,22 Years and 6 Months,No,49.574949,62.430172,Unknown,340.479212,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,1911412.0,1824.843333,3,...,Good,80998.0,22.537593,22 Years and 7 Months,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,0x1609,CUS_0xd40,August,Langep,23,#F%$D@*&8,Scientist,1911412.0,1824.843333,3,...,Good,80998.0,23.933795,15 Years and 11 Months,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,Unknown,3484784.0,3037.986667,2,...,Good,60503.0,24.464031,26 Years and 7 Months,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,3484784.0,3037.986667,2,...,Good,60503.0,38.550848,26 Years and 8 Months,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good

In [53]:
df_train["Credit_History_Age"]
df_train["Credit_History_Age"].unique()

array(['22 Years and 1 Months', '15 Years and 11 Months',
       '22 Years and 3 Months', '22 Years and 4 Months',
       '22 Years and 5 Months', '22 Years and 6 Months',
       '22 Years and 7 Months', '26 Years and 7 Months',
       '26 Years and 8 Months', '26 Years and 9 Months',
       '26 Years and 10 Months', '26 Years and 11 Months',
       '27 Years and 0 Months', '27 Years and 1 Months',
       '27 Years and 2 Months', '17 Years and 9 Months',
       '17 Years and 10 Months', '17 Years and 11 Months',
       '18 Years and 1 Months', '18 Years and 2 Months',
       '18 Years and 3 Months', '18 Years and 4 Months',
       '17 Years and 3 Months', '17 Years and 4 Months',
       '17 Years and 5 Months', '17 Years and 6 Months',
       '17 Years and 7 Months', '17 Years and 8 Months',
       '30 Years and 8 Months', '30 Years and 9 Months',
       '30 Years and 10 Months', '30 Years and 11 Months',
       '31 Years and 0 Months', '31 Years and 1 Months',
       '31 Years and 2 Months', '31 Years and 3 Months',
       '32 Years and 0 Months', '32 Years and 2 Months',
       '32 Years and 3 Months', '32 Years and 5 Months',
       '32 Years and 6 Months', '30 Years and 7 Months',
       '14 Years and 8 Months', '14 Years and 9 Months',
       '14 Years and 10 Months', '14 Years and 11 Months',
       '15 Years and 0 Months', '15 Years and 1 Months',
       '15 Years and 2 Months', '21 Years and 4 Months',
       '21 Years and 5 Months', '21 Years and 6 Months',
       '21 Years and 7 Months', '21 Years and 8 Months',
       '21 Years and 9 Months', '21 Years and 10 Months',
       '21 Years and 11 Months', '26 Years and 6 Months',
       '19 Years and 2 Months', '19 Years and 3 Months',
       '19 Years and 4 Months', '19 Years and 5 Months',
       '19 Years and 6 Months', '19 Years and 7 Months',
       '19 Years and 8 Months', '25 Years and 5 Months',
       '25 Years and 6 Months', '25 Years and 7 Months',
       '25 Years and 8 Months', '25 Years and 9 Months',
       '25 Years and 10 Months', '25 Years and 11 Months',
       '26 Years and 0 Months', '27 Years and 3 Months',
       '27 Years and 4 Months', '27 Years and 5 Months',
       '8 Years and 11 Months', '9 Years and 0 Months',
       '9 Years and 1 Months', '9 Years and 2 Months',
       '9 Years and 3 Months', '9 Years and 4 Months',
       '9 Years and 6 Months', '18 Years and 5 Months',
       '18 Years and 6 Months', '18 Years and 8 Months',
       '18 Years and 9 Months', '16 Years and 10 Months',
       '16 Years and 11 Months', '17 Years and 0 Months',
       '17 Years and 1 Months', '17 Years and 2 Months',
       '29 Years and 2 Months', '29 Years and 3 Months',
       '29 Years and 4 Months', '29 Years and 6 Months',
       '29 Years and 8 Months', '29 Years and 9 Months',
       '6 Years and 5 Months', '6 Years and 6 Months',
       '6 Years and 7 Months', '6 Years and 8 Months',
       '6 Years and 9 Months', '6 Years and 10 Months',
       '6 Years and 11 Months', '7 Years and 0 Months',
       '27 Years and 6 Months', '27 Years and 7 Months',
       '27 Years and 8 Months', '27 Years and 9 Months',
       '18 Years and 7 Months', '19 Years and 9 Months',
       '19 Years and 10 Months', '10 Years and 1 Months',
       '10 Years and 2 Months', '10 Years and 3 Months',
       '10 Years and 4 Months', '10 Years and 5 Months',
       '10 Years and 6 Months', '10 Years and 7 Months',
       '10 Years and 8 Months', '32 Years and 9 Months',
       '32 Years and 10 Months', '32 Years and 11 Months',
       '33 Years and 0 Months', '33 Years and 1 Months',
       '33 Years and 4 Months', '12 Years and 3 Months',
       '12 Years and 4 Months', '12 Years and 5 Months',
       '12 Years and 6 Months', '12 Years and 7 Months',
       '12 Years and 8 Months', '12 Years and 10 Months',
       '12 Years and 9 Months', '13 Years and 8 Months',
       '13 Years and 11 Months', '14 Years and 0 Months',
       '14 Years and 1 Months', '14 Years and 2 Months',
       '14 Years and 3 Months', '30 Years and 3 Months',
       '30 Years and 4 Months', '30 Years and 5 Months',
       '30 Years and 6 Months', '8 Years and 9 Months',
       '8 Years and 10 Months', '18 Years and 10 Months',
       '18 Years and 11 Months', '19 Years and 0 Months',
       '19 Years and 1 Months', '8 Years and 8 Months',
       '13 Years and 1 Months', '13 Years and 2 Months',
       '13 Years and 3 Months', '13 Years and 5 Months',
       '13 Years and 6 Months', '13 Years and 7 Months',
       '22 Years and 0 Months', '26 Years and 1 Months',
       '26 Years and 2 Months', '13 Years and 4 Months',
       '13 Years and 9 Months', '27 Years and 11 Months',
       '28 Years and 0 Months', '28 Years and 1 Months',
       '28 Years and 2 Months', '28 Years and 3 Months',
       '28 Years and 4 Months', '28 Years and 5 Months',
       '28 Years and 6 Months', '7 Years and 10 Months',
       '7 Years and 11 Months', '8 Years and 0 Months',
       '8 Years and 1 Months', '8 Years and 2 Months',
       '8 Years and 3 Months', '8 Years and 4 Months',
       '8 Years and 5 Months', '24 Years and 3 Months',
       '24 Years and 4 Months', '24 Years and 5 Months',
       '24 Years and 6 Months', '24 Years and 7 Months',
       '24 Years and 8 Months', '24 Years and 9 Months',
       '1 Years and 2 Months', '1 Years and 3 Months',
       '1 Years and 4 Months', '1 Years and 5 Months',
       '1 Years and 6 Months', '1 Years and 7 Months',
       '1 Years and 8 Months', '10 Years and 11 Months',
       '11 Years and 0 Months', '11 Years and 1 Months',
       '11 Years and 2 Months', '11 Years and 3 Months',
       '11 Years and 4 Months', '11 Years and 5 Months',
       '11 Years and 6 Months', '19 Years and 11 Months',
       '20 Years and 0 Months', '20 Years and 1 Months',
       '10 Years and 9 Months', '10 Years and 10 Months',
       '14 Years and 4 Months', '14 Years and 5 Months',
       '14 Years and 6 Months', '20 Years and 8 Months',
       '20 Years and 9 Months', '20 Years and 10 Months',
       '20 Years and 11 Months', '21 Years and 0 Months',
       '21 Years and 1 Months', '21 Years and 2 Months',
       '21 Years and 3 Months', '0 Years and 4 Months',
       '0 Years and 5 Months', '0 Years and 6 Months',
       '0 Years and 8 Months', '0 Years and 9 Months',
       '0 Years and 10 Months', '31 Years and 7 Months',
       '31 Years and 8 Months', '31 Years and 9 Months',
       '31 Years and 10 Months', '31 Years and 11 Months',
       '32 Years and 1 Months', '12 Years and 11 Months',
       '13 Years and 0 Months', '27 Years and 10 Months',
       '11 Years and 7 Months', '11 Years and 8 Months',
       '11 Years and 9 Months', '11 Years and 10 Months',
       '24 Years and 10 Months', '24 Years and 11 Months',
       '25 Years and 0 Months', '25 Years and 1 Months',
       '25 Years and 2 Months', '25 Years and 3 Months',
       '18 Years and 0 Months', '31 Years and 4 Months',
       '31 Years and 5 Months', '31 Years and 6 Months',
       '5 Years and 2 Months', '5 Years and 3 Months',
       '5 Years and 4 Months', '5 Years and 5 Months',
       '5 Years and 6 Months', '5 Years and 7 Months',
       '5 Years and 8 Months', '5 Years and 9 Months',
       '2 Years and 11 Months', '3 Years and 0 Months',
       '3 Years and 1 Months', '3 Years and 2 Months',
       '3 Years and 3 Months', '3 Years and 4 Months',
       '3 Years and 5 Months', '3 Years and 6 Months',
       '16 Years and 4 Months', '16 Years and 5 Months',
       '16 Years and 6 Months', '16 Years and 7 Months',
       '16 Years and 8 Months', '16 Years and 9 Months',
       '22 Years and 11 Months', '23 Years and 0 Months',
       '23 Years and 2 Months', '23 Years and 3 Months',
       '23 Years and 4 Months', '23 Years and 5 Months',
       '23 Years and 6 Months', '8 Years and 6 Months',
       '8 Years and 7 Months', '4 Years and 5 Months',
       '4 Years and 6 Months', '4 Years and 7 Months',
       '4 Years and 8 Months', '4 Years and 9 Months',
       '4 Years and 10 Months', '4 Years and 11 Months',
       '5 Years and 0 Months', '32 Years and 8 Months',
       '33 Years and 2 Months', '33 Years and 3 Months',
       '12 Years and 2 Months', '32 Years and 4 Months',
       '29 Years and 11 Months', '30 Years and 0 Months',
       '30 Years and 2 Months', '26 Years and 3 Months',
       '26 Years and 4 Months', '26 Years and 5 Months',
       '7 Years and 6 Months', '7 Years and 7 Months',
       '7 Years and 8 Months', '7 Years and 9 Months',
       '28 Years and 7 Months', '28 Years and 8 Months',
       '28 Years and 9 Months', '28 Years and 10 Months',
       '29 Years and 5 Months', '29 Years and 7 Months',
       '20 Years and 2 Months', '20 Years and 3 Months',
       '20 Years and 4 Months', '20 Years and 5 Months',
       '20 Years and 6 Months', '20 Years and 7 Months',
       '28 Years and 11 Months', '29 Years and 0 Months',
       '13 Years and 10 Months', '1 Years and 9 Months',
       '1 Years and 10 Months', '1 Years and 11 Months',
       '33 Years and 5 Months', '33 Years and 6 Months',
       '33 Years and 7 Months', '33 Years and 8 Months',
       '29 Years and 1 Months', '5 Years and 1 Months',
       '5 Years and 10 Months', '5 Years and 11 Months',
       '6 Years and 0 Months', '6 Years and 1 Months',
       '6 Years and 2 Months', '6 Years and 3 Months',
       '22 Years and 9 Months', '22 Years and 10 Months',
       '23 Years and 1 Months', '22 Years and 2 Months',
       '15 Years and 4 Months', '15 Years and 5 Months',
       '15 Years and 6 Months', '15 Years and 7 Months',
       '15 Years and 8 Months', '15 Years and 9 Months',
       '15 Years and 10 Months', '2 Years and 3 Months',
       '2 Years and 4 Months', '2 Years and 5 Months',
       '2 Years and 6 Months', '2 Years and 7 Months',
       '2 Years and 8 Months', '2 Years and 9 Months',
       '2 Years and 10 Months', '2 Years and 0 Months',
       '16 Years and 2 Months', '16 Years and 3 Months',
       '22 Years and 8 Months', '9 Years and 5 Months',
       '9 Years and 7 Months', '9 Years and 8 Months',
       '9 Years and 9 Months', '11 Years and 11 Months',
       '12 Years and 0 Months', '12 Years and 1 Months',
       '24 Years and 2 Months', '16 Years and 0 Months',
       '16 Years and 1 Months', '14 Years and 7 Months',
       '25 Years and 4 Months', '15 Years and 3 Months',
       '7 Years and 1 Months', '7 Years and 2 Months',
       '7 Years and 3 Months', '7 Years and 4 Months',
       '7 Years and 5 Months', '23 Years and 7 Months',
       '23 Years and 8 Months', '23 Years and 9 Months',
       '30 Years and 1 Months', '29 Years and 10 Months',
       '9 Years and 10 Months', '9 Years and 11 Months',
       '10 Years and 0 Months', '2 Years and 2 Months',
       '23 Years and 10 Months', '23 Years and 11 Months',
       '24 Years and 0 Months', '24 Years and 1 Months',
       '6 Years and 4 Months', '0 Years and 1 Months',
       '0 Years and 2 Months', '0 Years and 3 Months',
       '0 Years and 7 Months', '3 Years and 8 Months',
       '32 Years and 7 Months', '3 Years and 7 Months',
       '3 Years and 9 Months', '3 Years and 10 Months',
       '0 Years and 11 Months', '1 Years and 0 Months',
       '1 Years and 1 Months', '4 Years and 4 Months',
       '3 Years and 11 Months', '4 Years and 0 Months',
       '4 Years and 1 Months', '4 Years and 2 Months',
       '4 Years and 3 Months', '2 Years and 1 Months'], dtype=object)

In [54]:
def age_to_months(age_str):
    years = int(age_str.split()[0])
    months = int(age_str.split()[3])
    if years == 0:
        months_calculated = months
    elif months == 0:
        months_calculated = years * 12
    else:
        months_calculated = (years*12) + months
    
    return months_calculated

# Apply the function to convert the age column to total months
df_train['Credit_History_Age'] = df_train['Credit_History_Age'].apply(age_to_months)

In [55]:
df_train.Credit_History_Age

0        265
1        191
2        267
3        268
4        269
        ...
99995    378
99996    379
99997    380
99998    381
99999    382
Name: Credit_History_Age, Length: 100000, dtype: int64

Choose out important columns

In [56]:
df_train.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [57]:
feature_columns = ['Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate',
                    'Num_of_Loan', 'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
                    'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age',
                    'Total_EMI_per_month', 'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance']

In [58]:
target_columns = ['Credit_Score']

Encoding

In [59]:
object_columns_features = ['Credit_Mix' ,'Payment_Behaviour']

In [60]:
X = df_train[feature_columns]
y = df_train[target_columns]

In [61]:
# Use one hot encoder for features
one_hot_encoded = pd.get_dummies(X[object_columns_features], columns=object_columns_features, prefix=object_columns_features)

X = pd.concat([X, one_hot_encoded], axis=1)

In [62]:
X = X.drop(object_columns_features, axis=1)

In [63]:
X.columns

Index(['Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio',
       'Credit_History_Age', 'Total_EMI_per_month', 'Amount_invested_monthly',
       'Monthly_Balance', 'Credit_Mix_Bad', 'Credit_Mix_Good',
       'Credit_Mix_Standard',
       'Payment_Behaviour_High_spent_Large_value_payments',
       'Payment_Behaviour_High_spent_Medium_value_payments',
       'Payment_Behaviour_High_spent_Small_value_payments',
       'Payment_Behaviour_Low_spent_Large_value_payments',
       'Payment_Behaviour_Low_spent_Medium_value_payments',
       'Payment_Behaviour_Low_spent_Small_value_payments',
       'Payment_Behaviour_Unknown'],
      dtype='object')

In [64]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X['Type_of_Loan'] = label_encoder.fit_transform(X['Type_of_Loan'])

In [65]:
y

      Credit_Score
0             Good
1             Good
2             Good
3             Good
4             Good
...            ...
99995         Poor
99996         Poor
99997         Poor
99998     Standard
99999         Poor

[100000 rows x 1 columns]

In [66]:
y['Credit_Score'] = label_encoder.fit_transform(y['Credit_Score'])
y

C:\Users\Oluwayemisi\AppData\Local\Temp\ipykernel_10764\2702774469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['Credit_Score'] = label_encoder.fit_transform(y['Credit_Score'])

       Credit_Score
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
99995             1
99996             1
99997             1
99998             2
99999             1

[100000 rows x 1 columns]

Splitting

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Scaling

In [68]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

Import important packages and train multiple models

In [69]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [70]:
models = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier()
}

for name, model in models.items():
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)
    accuracy = accuracy_score(y_test, y_pred)
    print(f'{name}: Accuracy = {accuracy:.2f}')

c:\Users\Oluwayemisi\Desktop\Bincom Work\Old Credit Scoring\env\lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Logistic Regression: Accuracy = 0.62
Decision Tree: Accuracy = 0.62

c:\Users\Oluwayemisi\Desktop\Bincom Work\Old Credit Scoring\env\lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Random Forest: Accuracy = 0.75

Retraining, this time using original data

In [71]:
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f'{name}: Accuracy = {accuracy:.2f}')

c:\Users\Oluwayemisi\Desktop\Bincom Work\Old Credit Scoring\env\lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Logistic Regression: Accuracy = 0.53
Decision Tree: Accuracy = 0.69

c:\Users\Oluwayemisi\Desktop\Bincom Work\Old Credit Scoring\env\lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Random Forest: Accuracy = 0.78

Hypertune the best model

In [88]:
random_forest = RandomForestClassifier(n_estimators=128, max_depth=30)
random_forest.fit(X_train, y_train)
y_pred = random_forest.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f'{name}: Accuracy = {accuracy:.2f}')

c:\Users\Oluwayemisi\Desktop\Bincom Work\Old Credit Scoring\env\lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Random Forest: Accuracy = 0.78